[submodule "appconfig/prod/ff"]
	path = appconfig/prod/ff
	url = https://github.com/totalbot123/rollouts-poc.git
[submodule "appconfig/stage-uat/ff"]
	path = appconfig/stage-uat/ff
	url = https://github.com/totalbot123/rollouts-poc.git
[submodule "appconfig/stage-regression/ff"]
	path = appconfig/stage-regression/ff
	url = https://github.com/totalbot123/rollouts-poc.git
	branch = stage-regression
[submodule "appconfig/qa/ff"]
	path = appconfig/qa/ff
	url = https://github.com/totalbot123/rollouts-poc.git
	branch = qa
